body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to top left, #ffa060, #ffdb3b);
    background-repeat: no-repeat;   
    background-attachment: fixed; 
}

.hide{
    display: none;
}




nav {
    background-color: rgb(65, 62, 62);
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    text-align: center;
    height: 60px;
    
}

.app-title {
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    display: inline-block;
    position: relative;
    bottom: 5px;
}

.pizza {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    background-color: white;
    width: 30%;
    box-shadow: 7px 7px 10px grey;
    border-radius: 10px;
    margin-top: -10px ;
    height: 50px;
    
}

.pizza-title {
    display: inline-block;
    position: relative;
    bottom: 5px;
    color: black;
    font-family: sans-serif;
}

ul {
    /* box-shadow: 5px 5px 10px white;     */
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    width: 40%;
}

ul li {

    
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    color: white;
    padding: 12px;
    font-family: sans-serif;
    background: linear-gradient(to top left, #28b487, #5ad447);
    
}

.orders {
    text-align: center;
    margin: 0 auto;
}

.btn{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;

    background: linear-gradient(to top left, rgb(247, 67, 67),rgb(255, 145, 2));
    height: 40px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px gray;
    cursor: pointer;
    color: white;
}

.submit:hover {
    background: linear-gradient(to bottom right, rgb(247, 67, 67),rgb(255, 145, 2));

}
