* {
    margin: 0;
    border: 0;
    padding: 0;
}


nav {
    background-color: rgb(65, 62, 62);
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    text-align: center;
    height: 60px;
    
}

.app-title {
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    display: inline-block;
    position: relative;
    bottom: 5px;
}

body {
    height: 100%;
    margin: 0;
    background: linear-gradient(to top left, #ffa060, #ffdb3b);
    background-repeat: no-repeat;   
    background-attachment: fixed; 
}

.login {
    text-align: center;
    margin-top: 3%;
    font-size: 40px;
    font-family: sans-serif;
    color: rgb(1, 30, 158);
}

.box {
    text-align: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: 2px -2PX 2px -2px 5px white;
    border-radius: 5px;
    
    height: 200px;
    width: 20%;
    border-color: black;
    border-width: 3px;
    margin-top: 3%;
    background: linear-gradient(to top left, #28b487, #5ad447);
}

.form {
    margin-top: 30px;
    text-align: center;
    margin: 0 auto;
    border-color: orange;
    border-width: 2px;
    outline-color: black;
    position: relative;
    top: 30%;
    border-radius: 3px;
    height: 20px;
    font-size: 15px;
}

.submit-button, .login-button {
    color: white;
    background-color: black;
    box-shadow: 2px 2px 3px gray;
    width: 50%;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 3px;
    height: 25px;
}